<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Preventive Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="notgoodsolution" />
    <link rel="shortcut icon" type="image/png" href="img/ico.png" />

    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar-fixed-top">
        <div class="container">
          <table style="width: 100%">
            <tr>
              <td style="text-align: left; width: 30%">
                <img
                  src="img/aisin.svg"
                  style="max-width: 80%"
                  alt="loggo-aisin"
                />
              </td>
              <td style="text-align: center">
                <div class="dropdown">
                  <h1>PREVENTIVE <%= data.part %></h1>
                  <div class="dropdown-content">
                    <li><a href="/diesstamping">STAMPING</a></li>
                    <li><a href="/diesdoorframe">DOORFRAME</a></li>
                    <li><a href="/mold">MOLD</a></li>
                    <li><a href="/jig">JIG</a></li>
                  </div>
                </div>
              </td>
              <td style="text-align: right; width: 30%">
                <h2 id="date"></h2>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </header>

    <div style="padding-top: 70px"></div>

    <section>
      <div class="owl-carousel"></div>
    </section>
  </body>
  <footer>
    <div class="footer-flex">
      <div class="danger" style="padding: 5px 0 5px 0">
        <span>Need Preventive</span>
      </div>
      <div class="warning" style="padding: 5px 0 5px 0">
        <span>Preventive Soon</span>
      </div>
      <div class="primary" style="padding: 5px 0 5px 0">
        <span>On Monitor</span>
      </div>
    </div>
  </footer>
</html>

<script>
  var current = new Date();
  var future = new Date();
  future.setTime(future.getTime() + 3600000); //3600000 = 1 hour
  future.setMinutes(0);
  future.setSeconds(0);

  var timeout = future.getTime() - current.getTime();
  setTimeout(function () {
    window.location.reload(true);
  }, timeout);

  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
  }

  var socket = io.connect();

  var owl = $(".owl-carousel");
  owl.owlCarousel({
    items: 1,
    loop: true,
    dots: false,
    margin: 12,
    autoplay: true,
    autoplayTimeout: 8000,
    autoplayHoverPause: false,
  });

  var data_before = 0;
  socket.on("prev_diesdoorframe", function (data) {
    let length = data.length;
    let table = "";
    let x = 1;
    let sequence = 1;
    let length_predict = 1;
    let slide_total = Math.ceil(length / 10);

    if (slide_total != data_before && slide_total != 0) {
      let rem = $(".display-data");
      owl.trigger("remove.owl.carousel", [rem]);
      owl.trigger("refresh.owl.carousel");
      rem.remove();

      for (var y = 1; y <= slide_total; y++) {
        let e = $("<div></div>");
        e.attr("id", "content-data-" + y);
        e.attr("class", "display-data");
        owl.trigger("add.owl.carousel", [e]);
      }
      data_before = slide_total;
    }

    if (slide_total == 0) {
      let rem = $(".display-data");
      owl.trigger("remove.owl.carousel", [rem]);
      owl.trigger("refresh.owl.carousel");
      rem.remove();

      let e = $(
        "<div><h2 class='warning' style='text-align: center;padding:15px 0 15px 0;'>No Data</h2></div>"
      );
      e.attr("id", "content-data-1");
      e.attr("class", "display-data");
      owl.trigger("add.owl.carousel", [e]);
      owl.trigger("refresh.owl.carousel");
    }

    data.forEach((element) => {
      if (x == 1) {
        table +=
          "<table  cellspacing='0' cellpadding='0' class='container-table'>";
        table += "<thead>";
        table += "<th class='grey'>NO</th>";
        table += "<th class='grey'>TOOL</th>";
        table += "<th class='grey'>NAME</th>";
        table += "<th class='grey'>MODEL</th>";
        table += "<th class='grey'>STD. STROKE</th>";
        table += "<th class='grey'>RUN. STROKE</th>";
        table += "</thead>";
        table += "<tbody>";
      }

      table += "<tr style='font-weight:600;'>";
      table += "<td style='text-align: center;'>" + length_predict + "</td>";
      table +=
        "<td style='text-align: center;'>" + element.CHR_TOOL_CODE + "</td>";
      table +=
        "<td style='text-align: center;'>" + element.CHR_TOOL_NAME + "</td>";
      table += "<td style='text-align: center;'>" + element.CHR_MODEL + "</td>";
      table +=
        "<td style='text-align: center;'>" +
        formatNumber(element.INT_STD_STROKE) +
        "</td>";

      if (element.ORDER_STATUS_PREVENTIVE == 1) {
        table +=
          "<td class='danger'>" +
          formatNumber(element.INT_ACTUAL_STROKE_H_MINUS_1) +
          "</td>";
      } else if (element.ORDER_STATUS_PREVENTIVE == 2) {
        table +=
          "<td class='warning'>" +
          formatNumber(element.INT_ACTUAL_STROKE_H_MINUS_1) +
          "</td>";
      } else if (element.ORDER_STATUS_PREVENTIVE == 3) {
        table +=
          "<td class='primary'>" +
          formatNumber(element.INT_ACTUAL_STROKE_H_MINUS_1) +
          "</td>";
      }

      table += "</tr>";

      if (x == 10) {
        table += "</tbody>";
        table += "</table>";

        $("#content-data-" + sequence).html(table);

        table = "";
        sequence++;
        x = 0;
      }
      x++;

      if (length_predict == length) {
        table += "</tbody>";
        table += "</table>";
        $("#content-data-" + sequence).html(table);
        owl.trigger("refresh.owl.carousel");
      }

      length_predict++;
    });
  });

  startTime();

  function startTime() {
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth();

    month = parseInt(month) + 1;

    if (month < 10) {
      month = "0" + month;
    }
    var date = today.getDate();
    if (date < 10) {
      date = "0" + date;
    }
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    if (h < 10) {
      h = "0" + h;
    }
    if (m < 10) {
      m = "0" + m;
    }
    if (s < 10) {
      s = "0" + s;
    }
    //year + "-" + month + "-" + date + " ~ " +
    $("#date").html(h + ":" + m + ":" + s);
    var t = setTimeout(startTime, 500);
  }
</script>
