<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Preventive Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="notgoodsolution" />
    <link rel="shortcut icon" type="image/png" href="img/ico.png" />

    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar-fixed-top">
        <div class="container">
          <table style="width: 100%; height: 50px">
            <tr>
              <td style="text-align: left; width: 30%">
                <img src="img/aisin.svg" width="40%" alt="loggo-aisin" />
              </td>
              <td style="text-align: center; width: 40%">
                <div class="dropdown">
                  <h1><%= data.part %> PREVENTIVE MAINTENANCE</h1>
                  <div class="dropdown-content">
                    <li><a href="/dies">DIES</a></li>
                    <li><a href="/doorframe">DOORFRAME</a></li>
                    <li><a href="/machine">MACHINE</a></li>
                    <li><a href="/jig">JIG</a></li>
                    <li><a href="/mold">MOLD</a></li>
                    <li><a href="/diesmold">DIESMOLD</a></li>
                    <li><a href="/electrode">ELECTRODE</a></li></div>
                </div>
              </td>
              <td style="text-align: right; width: 30%">
                <h2 id="date"></h2>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </header>

    <div style="padding-top: 70px"></div>

    <section>
      <div class="owl-carousel">
      </div>
    </section>
  </body>
  <footer>
    <div class="footer-flex">
      <div style="background: #f4b617">&nbsp;</div>
      <div>On Monitor</div>
      <div style="background: #ff0000">&nbsp;</div>
      <div>Preventive Soon</div>
      <div style="background: #c106fa">&nbsp;</div>
      <div>Need Preventive</div>
    </div>
  </footer>
</html>

<script>
  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
  }

  var socket = io.connect();

  var owl = $(".owl-carousel");
  owl.owlCarousel({
    items: 1,
    loop: true,
    dots: false,
    margin: 12,
    autoplay: true,
    autoplayTimeout: 8000,
    autoplayHoverPause: false,
  });

  var data_before = 0;
  socket.on("data_prev_df", function (data) {
    let length = data.length;
    let table = "";
    let x = 1;
    let sequence = 1;
    let length_predict = 1;
    let slide_total = Math.ceil(length / 10);

    if (slide_total != data_before && slide_total != 0) {
      let rem = $(".display-data");
      owl.trigger("remove.owl.carousel", [rem]);
      owl.trigger("refresh.owl.carousel");
      rem.remove();

      for (var y = 1; y <= slide_total; y++) {
        let e = $("<div></div>");
        e.attr("id", "content-data-" + y);
        e.attr("class", "display-data");
        owl.trigger("add.owl.carousel", [e]);
      }
      data_before = slide_total;
    }

    if (slide_total == 0) {
      let rem = $(".display-data");
      owl.trigger("remove.owl.carousel", [rem]);
      owl.trigger("refresh.owl.carousel");
      rem.remove();

      let e = $(
        "<div><h2 class='danger' style='text-align: center;padding:15px 0 15px 0;'>No Data</h2></div>"
      );
      e.attr("id", "content-data-1");
      e.attr("class", "display-data");
      owl.trigger("add.owl.carousel", [e]);
      owl.trigger("refresh.owl.carousel");
    }

    data.forEach((element) => {
      if (x == 1) {
        table += "<table  cellspacing='0' cellpadding='0' class='container-table'>";
        table += "<thead><tr>";
        table += "<th class='grey'>NO</th>";
        table += "<th class='grey'>PART CODE</th>";
        table += "<th class='grey'>MODEL</th>";
        table += "<th class='grey'>NAME</th>";
        table += "<th class='grey'>PLAN PREV. STROKE</th>";
        table += "<th class='grey'>RUNNING STROKE</th>";
        table += "</tr></thead>";
        table += "<tbody>";
      }

      table += "<tr style='font-weight:600;'>";
      table += "<td style='text-align: center;'>" + length_predict + "</td>";
      table += "<td style='text-align: center;'><strong>" + element.code + "</strong></td>";
      table += "<td style='text-align: center;'>" + element.model + "</td>";
      table += "<td style='text-align: left;'>" + element.name + "</td>";
      table += "<td style='text-align: center;'>" + formatNumber(element.stroke_big) + "</td>";

      if (element.stat == 1) {
        table += "<td class='warning'>" + formatNumber(element.stroke) + "</td>";
      } else if (element.stat == 2) {
        table += "<td class='danger'>" + formatNumber(element.stroke) + "</td>";
      } else if (element.stat == 3) {
        table += "<td class='advanced'>" + formatNumber(element.stroke) + "</td>";
      }

      table += "</tr>";

      if (x == 10) {
        table += "</tbody>";
        table += "</table>";

        $("#content-data-" + sequence).html(table);

        table = "";
        sequence++;
        x = 0;
      }
      x++;

      if (length_predict == length) {
        table += "</tbody>";
        table += "</table>";
        $("#content-data-" + sequence).html(table);
        owl.trigger("refresh.owl.carousel");
      }

      length_predict++;
    });
  });

  startTime();

  function startTime() {
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth();

    month = parseInt(month) + 1;

    if (month < 10) {
      month = "0" + month;
    }
    var date = today.getDate();
    if (date < 10) {
      date = "0" + date;
    }
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    if (h < 10) {
      h = "0" + h;
    }
    if (m < 10) {
      m = "0" + m;
    }
    if (s < 10) {
      s = "0" + s;
    }
    $("#date").html(
      year + "-" + month + "-" + date + " ~ " + h + ":" + m + ":" + s
    );
    var t = setTimeout(startTime, 500);
  }
</script>
